<table border="1" cellpadding="40">
	<tr>
		<td test-data-x="0" test-data-y="0"></td>
		<td test-data-x="1" test-data-y="0"></td>
		<td test-data-x="2" test-data-y="0"></td>
	</tr>
	<tr>
		<td test-data-x="0" test-data-y="1"></td>
		<td test-data-x="1" test-data-y="1"></td>
		<td test-data-x="2" test-data-y="1"></td>
	</tr>
	<tr>
		<td test-data-x="0" test-data-y="2"></td>
		<td test-data-x="1" test-data-y="2"></td>
		<td test-data-x="2" test-data-y="2"></td>
	</tr>
</table>

<div id="test-games"></div>

<div id="test-message"></div>

<button id="test-save">Save Game</button>
<button id="test-previous">Show Previous Games</button>
<button id="test-clear">Clear Current Game</button>
