<a href="#" class="js-next" data-id="<%=@game.id%>">Next Product</a>
<h1 class="gameState"><%= @game.state %></h1>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/games/" + nextId + ".json", function(data) {
      var game = data;
      $(".gameState").text(game["state"]);
      $(".js-next").attr("data-id", game["id"]);
    });
  });
});
</script>
